<?xml version="1.0" ?>
<launch>
  <arg name="__ns" default=""/>
  <arg name="arg_check" default="$(arg __ns)"/>
  <arg if="$(eval arg_check == '')" name="prefix" default=''/> 
  <arg unless="$(eval arg_check == '')" name="prefix" default="$(arg __ns)_"/>
  <rosparam file="$(find robotont_driver)/config/robotont_params.yaml" subst_value="true" command="load" />
  <node pkg="robotont_driver" name="$(anon driver_node)" type="driver_node" output="screen" />
</launch>
