<?xml version="1.0" ?>
<launch>
  <!--
    '__ns' is needed as an explicit argument because it does not propagate as an argument to the included launch files.
    as eval may not contain double underscore expressions, a new argument (eval_underscore_bypass) is defined to by-pass this issue.
    when a namespace is specified, it is also converted into prefix with a trailing slash.
  -->
  <arg name="__ns" default=""/>
  <arg name="eval_underscore_bypass" value="$(arg __ns)"/>
  <arg if="$(eval eval_underscore_bypass == '')" name="prefix" default=''/> 
  <arg unless="$(eval eval_underscore_bypass == '')" name="prefix" default="$(arg __ns)/"/>

  <include file="$(find robotont_description)/launch/display_simulated_robot.launch">
    <arg name="rviz_fixed_frame" value="$(arg prefix)odom" />
    <arg name="__ns" value="$(arg __ns)"/>
  </include>
  <node name="fake_driver_node" pkg="robotont_driver" type="fake_driver_node" output="screen">
    <param unless="$(eval prefix == '_')" name="odom_frame" value="$(arg prefix)odom"/>
    <param unless="$(eval prefix == '_')" name="base_frame" value="$(arg prefix)base_footprint"/>
  </node>    
</launch>

